*.o
*.dSYM
*.csv
*.out
*.png
*.weights
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
python/build
python/*.so

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
